@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer;
@Html.ActionLink(" All Engineers", "Index",null, null, new { @class="btn btn-info fa fa-user-md" })
@Html.ActionLink(" Edit/Add Machine Licenses", "Edit", new { id = Model.EngineerId }, new { @class="btn btn-info fa fa-edit" })
@Html.ActionLink(" Delete", "Delete", new { id = Model.EngineerId }, new { @class="btn btn-info fa fa-times" })

<h2>@Html.DisplayFor(model => model.Name)'s Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

@if(@Model.Machines.Count == 0)
{
  <p>This Engineer does not have any Machines assigned to it.</p>
}
else
{
  <h4>Machines They Are Licensed To Repair:</h4>
  <ul>
  @foreach(var join in Model.Machines)
  {
    <li>@join.Machine.Name
    @Html.ActionLink("Delete", "DeleteMachine", "Engineers", new { joinId = @join.EngineerMachineId }, new { @class="btn btn-info fa fa-times" })
    </li>
  }
  </ul>
}
